<div class="coleccion-custom {% if class != blank %}{{ class }}{% endif %}">

    <div class="grid-coleccion">
		{% for product in collections[nameColection].products limit: 8 %}
			{% include "section-coleccion-item"%}
		{% endfor %}
	</div>

    <div class="btn-coleccion">
        <a href="{{ collections[nameColection].url }}">Ver Todos</a>
    </div>
</div>