{% comment %}
    
    @Como Usar este Snipet:

        {% include "coleccion-custom", nameColeccion: "mis-productos" class: "active"  %}

{% endcomment %}

<div class="coleccion-custom {% if class != blank %}{{ class }}{% endif %}">

    <div class="grid-coleccion">
		{% for product in collections[nameColection].products limit: 8 %}
			{% include "grid-item-coleccion" %}
		{% endfor %}
	</div>

    <div class="btn-coleccion">
        <a href="{{ collections[nameColection].url }}">Ver Todos</a>
    </div>
</div>