{% comment %}
    
    @Como Usar este Snipet:

        {% include "grid-item-coleccion"  %}

{% endcomment %}

<div class="grid-item-coleccion">
    <a href="{{ product.url }}">
        <div class="img-container">
        	<div class="back-img lazyload"
        		data-bgset="{% include 'bgset-desktop', image: product.featured_image %}"
				style="background-image: url('{{ product.featured_image | img_url: 'master', format: 'pjpg' }}');">
			</div>
        </div>
    </a>

    <div class="titulo">
        <h3>{{ product.title }}</h3>
    </div>

   {% include 'precio-producto', variant: product %}
</div>