//-------------------------------------------------------------------------------------------------------
//-------------------------------------------------Animaciones-------------------------------------------
//-------------------------------------------------------------------------------------------------------

/// Animacion rotatoria Izquierda
/// 
/// @ejemplo
/// 
/// 	.class-rotatoria{
/// 		@include rotar-izq(TIEMPO/opcional/, REPETICIONES/opcional/);
/// 		@include rotar-izq(10, siempre);
/// 	}
/// 

@mixin rotar-izq($time: 1, $count: 1){
	// animation: ;
	animation-name: rotar-izq;
	animation-direction: normal;
	animation-duration: #{$time}s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	
	@if ($count == siempre){
		animation-iteration-count: infinite;
	}
	@else{
		animation-iteration-count: $count;
	}

	@keyframes rotar-izq{
		0%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(-360deg);
		}
	}
}


/// Animacion rotatoria Derecha
/// 
/// @ejemplo
/// 
/// 	.class-rotatoria{
/// 		@include rotar-der(TIEMPO/opcional/, REPETICIONES/opcional/);
/// 		@include rotar-der(10, siempre);
/// 	}
///

@mixin rotar-der($time: 1, $count: 1){
	// animation: ;
	animation-name: rotar-der;
	animation-direction: normal;
	animation-duration: #{$time}s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;

	@if ($count == siempre){
		animation-iteration-count: infinite;
	}
	@else{
		animation-iteration-count: $count;
	}
	
	@keyframes rotar-der{
		0%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(360deg);
		}
	}
}