//--------------------------------------------------------------------------------------------------------------
//-------------------------------------Error 404 ESTILOS--------------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

@mixin error404{
	.back-404{

		.int-404{
			height: calc(100vh - 107px); //modificable
			width: 300px;
			@include margin-h(auto);
			@include center-flex(column);
			.error{
				margin-bottom: 10px;
				h2{	
					@include texto(48,72);
				}
			}

			.mensaje{
				p{
					@include texto(16,24);
				}
			}
		}
	}
}