{% comment %}
    
    @Tener en Mente que es una seccion dinamica que el usuario podra mover desde el admin.

    @Como Usar este Snipet:

        {% section "seccion-colecciones-destacadas-tabs"  %}

{% endcomment %}

<div class="colecciones-destacadas-tabs">
    <div class="menu-tabs">
        <ul>
            <li class="active">
                <p>collections[nameColection].title</p>
            </li>
            <li >
                <p>collections[nameColection].title</p>
            </li>
            <li>
                <p>collections[nameColection].title</p>
            </li>
            <li>
                <p>collections[nameColection].title</p>
            </li>
        </ul>
    </div>

    <div class="colecciones">
        {% include 'collection-custom', nameColection: 'nameColection', class: "active" %}
        {% include 'collection-custom', nameColection: 'nameColection' %}
        {% include 'collection-custom', nameColection: 'nameColection' %}
        {% include 'collection-custom', nameColection: 'nameColection' %}
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Collections in Tabs",
    "es": "Colecciones en Tabs"
  },
  "class": "seccion-colecciones-destacadas-tabs",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Collections in Tabs",
        "es": "Colecciónes en Tabs"
      },
      "category": {
        "en": "Collection",
        "es": "Colección"
      }
    }
  ]
}
{% endschema %}