
@mixin coleccion-custom(){
	.coleccion-custom{
		.grid-coleccion{
			margin-bottom: 40px;
			@include grid(4,2, 25px);

			@include grid-item-coleccion;
		}
		
		.btn-coleccion{
			@include center-flex;
			a{
				text-transform: uppercase;
				@include btn("principal");
				width: 269px;
			}
		}
	}
}