
@mixin section-cover(){
	.cover-wrapper{
		position: relative;
		.img-container{
			@include back-img;
			padding-bottom: 0;
			height: 630px;

			@include hasta(750){
				height: 445px;
			}

			.back-img{
				
				&.inMobile{
					display: none;
				}

				@include hasta(750){
					display: none;
					&.inMobile{
						display: block;
					}
				}
			}
		}
		
		// Containers
		.info-cover-left{
			@include absoluto-t-l(142, 125);

			@include hasta(750){
				top: 192px;
				left: 15px;
			}
		}

		.info-cover-center{
			position: absolute;
			top: 150px
			left: 50%;
			transform: translate(-50%, 0);
			background-color: rgba($white, 0.8);
			padding: 20px;

			@include hasta(750){
				top: 75px;
				padding: 10px;
			}

			.titulo h2, 
			.descripcion p{
				text-align: center;
			}
		}

		// Childrens
		.titulo{
			margin-bottom: 40px;
			@include padding-h(10);
			max-width: 80%;

			@include hasta(750){
				margin-bottom: 20px;
				h2{
					font-size: 28px;
				}
			}

			h2{
				font-family: ff(2);
				font-size: 42px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $black;
			}
		}

		.descripcion{
			margin-bottom: 20px;

			@include hasta(750){
				margin-bottom: 10px;

				p{
					font-size: 18px;
					line-height: 0000;
					letter-spacing: 00000px;
				}
			}
			p{
				font-family: ff(1);
				font-size: 22px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $black;
			}
		}

		.btn-cover{
			a{
				@include btn("principal");
				max-width: 250px;
				@include margin-h(auto);
			}
		}
	}
}