//--------------------------------------------------------------------------------------------------------------
//-------------------------------------------------CONTENIDO----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

.container{
	$marginContainer: 40px;
	$container: $marginContainer * 2;
	$container-tablet: $container / 2;
	$container-phone: $container / 4;
	$w: 1400px;
	
	width: $w;
	margin-left: auto;
	margin-right: auto;

	@include hasta($w + $container){
		@include container($container);
	}

	@include tablet{
		@include container($container-tablet);
	}

	@include phone{
		@include container($container-phone);
	}
}




