//--------------------------------------------------------------------------------------------------------------
//-------------------------------------------------CONTENIDO----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

@mixin wrapper($margin: 60px, $maxWidth: 1400px){

	$wrapperMarginContainer: #{remover-unidades($margin)}px;
	$wrapperContainer: $wrapperMarginContainer * 2;
	$wrapperContainerTablet: $wrapperContainer / 2;
	$wrapperContainerPhone: $wrapperContainer / 4;
	$wrapperWidth: #{remover-unidades($maxWidth)}px;
	
	width: $wrapperWidth;
	margin-left: auto;
	margin-right: auto;

	@include hasta($wrapperWidth + $wrapperContainer){
		@include container($wrapperContainer);
	}

	@include tablet{
		@include container($wrapperContainerTablet);
	}

	@include phone{
		@include container($wrapperContainerPhone);
	}
}




