//--------------------------------------------------------------------------------------------------------------
//-------------------------------------------------HTML ESTILOS-------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

/// 
/// 
/// @Estilos Generales para Todo la Página
/// 
/// 

*{
    margin: 0;
    padding: 0;
    
    outline: 0;
    box-sizing: border-box;
    box-shadow: unset;

    scrollbar-width: none; //firefox compatibility
    -webkit-overflow-scrolling: touch; // scroll smooth Safari
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
    width: 100%;
    font-size: 16px;
    font-family: ff(1);
    font-weight: normal;
}

a{
    text-decoration: none;
    color: $black;
}
img, svg, source{
    @include img;
}
li{
    list-style: none;
}


















