//------------------------------------------------------------------------------------\\
//---------------------------------Scroll-Bar-----------------------------------------\\
//------------------------------------------------------------------------------------\\

/// @Estilos para Ancho y Alto;
/// 
/// @ejemplo
///     
///     ::-webkit-scrollbar {
///         width: 5px;
///         height: 5px;
///     }
///

*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/// @Estilos para el Background de la barra;
/// 
/// @ejemplo
///     
///     ::-webkit-scrollbar-track {
///         background-color: red;
///     }
///

*::-webkit-scrollbar-track {
    background-color: transparent;
}

/// @Estilos para la barrita que se mueve;
/// 
/// @ejemplo
///     
///     ::-webkit-scrollbar-thumb {
///         background-color: blue;
///         border-radius: 15px;
///         border: 1px solid white;
///     }
///

*::-webkit-scrollbar-thumb {
    background: gray(255, .3);
    border-radius: 30px;

    &:hover{
        background: gray(100, 1);
    }
}








//---