//--------------------------------------------------------------------------------------------------------------
//-------------------Funciones para conversiones---------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

/// @Funcion covertir de Porcentaje a Grados!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       transform: rotate(porcentajeGrados(75%));
///     }
/// 

@function porcentajeGrados($numero){
	$grados: (remover-unidades($numero) / 100) * 360;
	@return #{$grados}deg;
}

/// @Funcion covertir de Grados a Porcentaje!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       transform: translateY(gradosPorcentaje(80deg));
///     }
/// 

@function gradosPorcentaje($numero){
	$porcentaje: (remover-unidades($numero) / 360) * 100;
	@return #{$porcentaje}deg;
}

/// @Funcion covertir de Pixels a Rems!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       font-size: pxRem(30);
///     }
///

@function pxRem ($size) {
	@if(unitless($size)){
		$size: $size * 1px;
	}

   	$remSize: $size / $fs-default;
   	@return $remSize * 1rem;
}

/// @Funcion covertir de Rems a Pixels!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       font-size: remPx(3.25);
///     }
///

@function remPx ($size) {
	@if(unitless($size)){
		$size: $size * 1rem;
	}

   	$remSize: ($size * ($fs-default / 1px) / 1rem);
   	@return $remSize * 1px;
}

/// @Funcion covertir de Pixels a Ems!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       font-size: pxEm(30);
///     }
///

@function pxEm ($size) {
	@if(unitless($size)){
		$size: $size * 1px;
	}

   	$remSize: $size / $fs-default;
   	@return $remSize * 1em;
}

/// @Funcion covertir de Ems a Pixels!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       font-size: emPx(3.25);
///     }
///

@function emPx ($size) {
	@if(unitless($size)){
		$size: $size * 1em;
	}

   	$remSize: ($size * ($fs-default / 1px) / 1em);
   	@return $remSize * 1px;
}

/// @Funcion covertir de pts a px!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       font-size: ptPx($n);
///     }
///

@function ptPx($n){
	$ptToPx: (remover-unidades($n) * 1.3333333333333334px);
	@return $ptToPx;
}


/// @Funcion para remover todo tipo de unidades!
/// 
/// @ejemplo
///
///     #circulo-relleno {
///       @include remover-unidades(80Em);
///     }
///

@function remover-unidades($value) {
	@return $value / ($value * 0 + 1);
}
