@import "base/main-library/_style-base.scss";

.cover-wrapper{
	position: relative;
	.img-container{
		@include back-img;
		padding-bottom: 0;
		height: 630px;

		@include hasta(750){
			height: 445px;
		}

		.back-img{
			
			&.inMobile{
				display: none;
			}

			@include hasta(750){
				display: none;
				&.inMobile{
					display: block;
				}
			}
		}
	}

	.info-cover-libre{
		@include absoluto-t-l(142, 125);

		@include hasta(750){
			top: 192px;
			left: 15px;
		}
		
		.titulo{
			margin-bottom: 40px;
			@include padding-h(10);
			max-width: 80%;

			@include hasta(750){
				margin-bottom: 20px;
				h2{
					font-size: 28px;
					line-height: 000;
					letter-spacing: 000px;
				}
			}

			h2{
				font-family: ff(2);
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				text-transform: unset;
				line-height: 0000;
				letter-spacing: 00000px;
				color: $black;
				font-size: 42px;
				// @include texto(34, 64, normal, ff(3), 751);
			}
		}

		.descripcion{
			margin-bottom: 20px;

			@include hasta(750){
				margin-bottom: 10px;

				p{
					font-size: 18px;
					line-height: 0000;
					letter-spacing: 00000px;
				}
			}
			p{
				font-family: ff(1);
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				text-transform: unset;
				line-height: 0000;
				letter-spacing: 00000px;
				color: $black;
				font-size: 22px;
				// @include texto(18, 22, normal, ff(1), 750);
			}
		}

		.btn-hero{
			a{
				@include btn("principal");
				max-width: 250px;
				@include margin-h(auto);
			}
		}
	}

	.info-cover-caja{
		position: absolute;
		top: 150px
		left: 50%;
		transform: translate(-50%, 0);
		background-color: rgba($white, 0.8);
		padding: 20px;

		@include hasta(750){
			top: 75px;
			padding: 10px;
		}
		
		.titulo{
			margin-bottom: 40px;
			@include padding-h(10);
			max-width: 80%;

			@include hasta(750){
				margin-bottom: 20px;
				h2{
					font-size: 28px;
					line-height: 000;
					letter-spacing: 000px;
				}
			}

			h2{
				font-family: ff(2);
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				text-transform: unset;
				line-height: 0000;
				letter-spacing: 00000px;
				color: $black;
				font-size: 42px;
				// @include texto(34, 64, normal, ff(3), 751);
			}
		}

		.descripcion{
			margin-bottom: 20px;

			@include hasta(750){
				margin-bottom: 10px;

				p{
					font-size: 18px;
					line-height: 0000;
					letter-spacing: 00000px;
				}
			}
			p{
				font-family: ff(1);
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				text-transform: unset;
				line-height: 0000;
				letter-spacing: 00000px;
				color: $black;
				font-size: 22px;
				// @include texto(18, 22, normal, ff(1), 750);
			}
		}

		.btn-hero{
			a{
				@include btn("principal");
				max-width: 250px;
				@include margin-h(auto);
			}
		}
	}
}
