//------------------------------------------------------------------------------------\\
//------------------------------------Mixin Button------------------------------------\\
//------------------------------------------------------------------------------------\\

/// @Mixin Para dar estilos a los botones Generales
/// 
/// @ejemplo
///
///     .btn--secondary {
///       @include btn("secundario")
///     }
/// 

@mixin btn($type){
	@include inputReset;
	padding: 15px 40px;
	@include margin-h(auto);

	font-family: ff(1);
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	text-align: center;
	letter-spacing: normal;
	color: $white;
	display: inline-block;
	width: auto;

	span, p{
		font-family: ff(1);
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		text-align: center;
		letter-spacing: normal;
		color: $white;
		display: inline-block;

		@include hasta(749){
			font-size: 14px;
			letter-spacing: normal;
			line-height: normal;
		}
	}

	@include hasta(749){
		padding: 10px 30px;
		
		font-size: 14px;
		letter-spacing: normal;
		line-height: normal;
	}

	@if ($type == "primario"){
		background-color: $colorBase;
		&:hover{
			background-color: $colorHoverBase !important;
		}
	}
	@if ($type == "secundario"){
		background-color: $grisBase;
		&:hover{
			background-color: $grisHoverBase !important;
		}
	}
	@if ($type == "primario-border"){
		background-color: rgba($white, 0);
		border: 1px solid $colorBase;

		color: $colorBase;
		span, p{
			color: $colorBase;
		}
		&:hover{
			background-color: rgba($white, 0) !important;
			border: 1px solid $colorHoverBase;

			color: $colorHoverBase;
			span, p{
				color: $colorHoverBase;
			}
		}
	}
	@if ($type == "secundario-border"){
		background-color: rgba($white, 0);
		border: 1px solid $grisBase;
		
		color: $grisBase;
		span, p{
			color: $grisBase;
		}
		&:hover{
			background-color: rgba($white, 0) !important;
			border: 1px solid $grisHoverBase;

			color: $grisHoverBase;
			span, p{
				color: $grisHoverBase;
			}
		}
	}
	@if ($type == "subrayado"){
		background-color: rgba($white, 0);
		border-bottom: 1px solid $colorBase;

		color: $colorBase;
		span, p{
			color: $colorBase;
		}
		&:hover{
			background-color: rgba($white, 0) !important;
			border: 1px solid $colorHoverBase;

			color: $colorHoverBase;
			span, p{
				color: $colorHoverBase;
			}
		}
	}
}